<div class="container">
  <h1>
    <%= @cocktail.name %>
    <%= link_to "edit", edit_cocktail_path(@cocktail) %>
    <%= link_to "delete", cocktail_path(@cocktail), method: :delete %>
  </h1>
  <% @cocktail.doses.each do |dose| %>
    <%= dose.description %>
    <%= dose.ingredient.name %>
    <%= link_to "EDIT", edit_dose_path(dose)  %>
    <%= link_to 'DEL', dose_path(dose), :confirm => 'Are you sure?', :method => :delete %>
    <br>
  <% end %>
  <%= link_to ("<p class='btn btn-primary btn-sm'>add dose</p>").html_safe, new_cocktail_dose_path(@cocktail) %>
  <p><strong>Instructions</strong>: <%= @cocktail.instructions %></p>

  <%= link_to ("<p class='btn btn-dark'>Browse Cocktails</p>").html_safe, cocktails_path %>
  <%= link_to ("<p class='btn btn-dark'>Browse by Ingredients</p>").html_safe, ingredients_path %>
</div>

