<div class="container">
  <h1><%= @cocktail.name %></h1>
  <% @cocktail.doses.each do |dose| %>
    <%= dose.description %>
    <%= dose.ingredient.name %>
    <br>
  <% end %>
  <p><strong>Instructions</strong>: <%= @cocktail.instructions %></p>
  <%= link_to "edit", edit_cocktail_path(@cocktail) %>
  <br>
  <%= link_to "delete", cocktail_path(@cocktail), method: :delete %>
  <br>
  <%= link_to "back to main", cocktails_path %>
</div>

